# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\java_web_la_cai_gi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
